/* No users design */
.empty-state {
  padding: 50px 0;
  text-align: center;
  color: #777;
}

.empty-state h5 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
}

.empty-state p {
  font-size: 1rem;
  margin-top: 10px;
  color: #999;
}

.empty-state .fa-users-slash {
  color: #bbb;
}
/* toast */
.toast {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.toast.hide {
  opacity: 0;
  visibility: hidden;
}