.custom-table {
    border-collapse: separate !important;
    border-spacing: 0 8px !important;
}

.custom-table tbody tr {
    background: #ffffff;
    border-radius: 10px;
     transition: all 0.25s ease-in-out;
}


.custom-table tbody tr:hover {
    background-color: #dbd9d9;    
    /* transform: translateY(-1px);    */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08); 
    cursor: pointer;
}
.custom-table tbody tr td {
    padding: 18px 16px !important;
}

.table-header th {
    padding: 20px !important;
    font-weight: 600;
    color: #555;
}

.custom-table tbody tr td:first-child {
    border-radius: 8px 0 0 8px;
}

.custom-table tbody tr td:last-child {
    border-radius: 0 8px 8px 0;
}

@media (max-width: 768px) {
  .search-date-wrapper {
    flex-direction: column !important; 
    gap: 10px !important; 
    width: 400px;
  }
}
/* .table-wrapper {
  max-width: 100%;
}

.table-wrapper table { 
    width:100%;
    min-width: max-content;
    
} */