.product-card {
  overflow: hidden; 
  border-radius: 8px;
  width: 20rem;
}

.product-card .product-img-container {
  overflow: hidden;
  position: relative;
  height: 250px; 
}

.product-card .product-img {
    z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s ease;
}

.product-card:hover .product-img {
  transform: scale(1.1);
}
.badge-sale,
.wishlist-icon {
  position: absolute;
  z-index: 5 !important;
}