.top-bar {
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 0 20px;
}

.side-bar {
    position: fixed;
    background-color: white;
    top: 70px;
    left: 0;
    z-index: 1;
    width: 250px;
    height: calc(100% - 70px);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    padding: 0 20px;

}