.analytics-card {
  /* width: 100% !important; */
  min-width: 255px !important;
  height: 100% !important;
  transition: all 0.35s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;

}
.analytics-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, transparent, rgba(13, 110, 253, 0.15), transparent);
  opacity: 0;
  transition: 0.3s;
}

.analytics-card:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
}

.analytics-card:hover::before {
  opacity: 1;
}