*{
  box-sizing: border-box;
}
body{
  /* font-family: ":Lato", sans-serif !important; */
  font-family: monospace !important;
}
/* google register & sign */
.google-btn-container .google-btn {
  color: #dc3545 !important;
  transition: 0.2s;
}

.google-btn-container:hover .google-btn {
  color: white !important; /* danger */
}


