*{
  box-sizing: border-box;
}
body{
  font-family: ":Lato", sans-serif !important;
  /* font-family: monospace !important; */
}
/* google register & sign */
.google-btn-container .google-btn {
  color: #dc3545 !important;
  transition: 0.2s;
}

.google-btn-container:hover .google-btn {
  color: white !important; /* danger */
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}