*{
  box-sizing: border-box;
}
body{
  /* font-family: ":Lato", sans-serif !important; */
  font-family: monospace !important;
}
/* google register & sign */
.google-btn-container .google-btn {
  color: #dc3545 !important;
  transition: 0.2s;
}

.google-btn-container:hover .google-btn {
  color: white !important; /* danger */
}

/* toast */
.toast {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.toast.hide {
  opacity: 0;
  visibility: hidden;
}
