.hand{
    background-image: url("../../../Assets/images/slider-1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.custom-search{
    color:rgba(0, 0, 0, 0.5) !important;

}